@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
#banner{
  background-color:#C6E4D6;
  border-radius: 15px;
  width:100%;
  
}
.banner-txt{
  padding-left: 30px;
  
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-btn {
  background: #006A50;
  color: white;
  padding: 13px;
  border: 0px;
  border-radius: 6px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-btn {
  background: white;
  color: #006A50;
  border: 2px solid #006A50;
  padding: 6px;
  border-radius: 7px;
}
.bd{
  font-size: 20px;
}
.open-sans-normal{
  margin:25px 15% 0 15%;
}

.quote-card {
  border: 1px solid #00000038;
  padding: 28px;
  border-radius: 13px;
}

.skills-container{
display: flex;
gap:10px;
}
.skill{
  padding:30px;
  box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
  border-radius: 10px;
}
.box-container{
  display: flex;
gap:10px;
}
.box-skill{
  margin-top: 40px;
  margin-bottom: 20px;
  padding:30px;
  box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
  border-radius: 10px;
}
.box-skill button {
  background: #5490F5;
  color: white;
  border: 1px;
  padding: 6px;
  border-radius: 4px;
}
.full-container{
  margin-top: 40px;
  margin-bottom: 20px;
}
.set-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-set-3{
  margin-top: 40px;
  margin-bottom: 20px;
  padding:30px;
  box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
  border-radius: 10px;
  gap:30px;
  
}
/* donation*/
.donation-container {
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 2px 8px rgb(0 0 0 / 16%);
}

h1 {
  font-size: 24px;
  color: #333;
  margin: 25px 0 25px 0;
}

p {
  font-size: 14px;
  color: #666;
  
  margin-bottom: 20px;
}

.donation-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.donation-btn {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  margin: 0 5px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  
}

.donation-btn.active {
  background-color: #d3f1df;
  border-color: #5cb85c;
}



.custom-amount {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

#subscribe {
  background: #C6E4D6;
  text-align: center;
  padding: 40px 0px 40px 0px;
  margin: 30px 0 30px 0;
}
#subscribe h1 {
  font-size: 30px;
}
#subscribe span {
  font-size: 14px;
  color: #00000099;
}
#subscribe div {
  margin-bottom: 18px;
}
#subscribe input {
  width: 30%;
  padding: 12px;
  border: 0px;
  border-radius: 5px;
}
#subscribe button {
  border: 0px;
  padding: 11px;
  background: #006A50;
  color: white;
  border-radius: 4px;
}
footer {
  text-align: center;
}